<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<key>NSAppTransportSecurity</key>
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzZafqnnesqo4Sj9dfOwqWGxd4BRxmIwA</string>
	<key>GCM_SENDER_ID</key>
	<string>925747815350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DevMuslim.absence</string>
	<key>PROJECT_ID</key>
	<string>absence-of-salab</string>
	<key>STORAGE_BUCKET</key>
	<string>absence-of-salab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925747815350:ios:229d5e285ed064fbd25717</string>
	<key>NSAppTransportSecurity</key>
	<key>NSAllowsLocalNetworking</key>
	<key>NSFaceIDUsageDescription</key>
    <string>Why is my app authenticating using face id?</string>
    <true/>
</dict>
</plist>